{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<div style="width: 90%; margin: auto">
  {% if data %}
  <h1 style="margin: auto; width: 80%">Tasks</h1>
   <form method="get">
    {% csrf_token %}
       {{ filter.form.as_p }}
       <input type="submit" value="Filter">
   </form>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        {% comment %} <th scope="col">Comment</th> {% endcomment %}
        <th scope="col">Status</th>
        <th scope="col">Prioryty</th>
        <th scope="col">Actions</th>

        <th scope="col">Submission Date</th>
      </tr>
    </thead>

    <tbody>
      {% for item in data %}
      <tr>
        {% comment %} <td>{{item.id}}</td> {% endcomment %}
        <td>{{item.taskTitle}}</td>
        <td>{{item.taskDescription}}</td>
        <td>
          {% if item.is_completed %}
          <p>Complete</p>
          {% else %}
          <p>Incomplete</p>
          {% endif %}
        </td>

        <td>
          {% if item.priority == 0 %}
          <p>0</p>
          {% elif item.priority == 1 %}
          <p>1</p>
          {% elif item.priority == 2 %}
          <p>2</p>
          {% elif item.priority == 3 %}
          <p>3</p>
          {% elif item.priority == 4 %}
          <p>4</p>
          {% elif item.priority == 5 %}
          <p>5</p>
          {% elif item.priority == 6 %}
          <p>6</p>
          {% elif item.priority == 7 %} 
          <p>7</p>
          {% else %}
          <p>8</p>
          {% endif %}
        </td>

        <td>
          <small
            ><a href="{% url 'delete_task' id=item.id %}">
              <button class="btn btn-danger btn-sm">Delete</button>
            </a></small
          >
          <small
            ><a href="{% url 'edit_task' id=item.id %}">
              <button class="btn btn-warning btn-sm">Edit</button>
            </a></small
          >
          <small
            ><a href="{% url 'complete' id=item.id %}">
              <button class="btn btn-primary btn-sm">Complete</button>
            </a></small
          >
        </td>
        <td>{{item.due_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h1>No Task available now!!!!!</h1>
  {% endif %}
</div>

{% endblock %}
